.r-container {
  overflow: hidden;
  position: relative;
}

.r-head {
  margin-bottom: 2rem;
}

.r-card {
  padding: 1rem;
  gap: 0.8rem;
  border-radius: 10px;
  max-width: max-content;
  margin: auto;
  transition: all 300ms ease-in;
}

.r-card > img {
  width: 100%;
  max-width: 15rem;
}

.r-card > :nth-child(2) {
  font-size: 1.2rem;
  font-weight: 600;
}

.r-card > :nth-child(3) {
  font-size: 1.5rem;
}

.r-card > :nth-child(4) {
  font-size: 0.7rem;
  width: 15rem;
}

.r-card:hover {
  scale: 1.025;
  cursor: pointer;
  /* background: #b2c2e0; */
  box-shadow: 0px 72px 49px -51px rgba(136, 160, 255, 0.21);
}

.swiper-horizontal {
  overflow: visible;
}

.r-button {
  position: absolute;
  justify-content: flex-end;
  gap: 1rem;
  top: -2rem;
  right: 0;
  padding: 0 0.2rem;
}

.r-button > button {
  font-size: 1.2rem;
  padding: 0.2rem 0.8rem;
  background-color: white;
  color: blue;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 5px;
}

.r-button > :nth-child(1) {
  background-color: #eeeeff;
}

.r-button > :nth-child(2) {
  box-shadow: 0px 0px 5px 0.5px rgba(0,  0,  0,  0.25);
}
